# Visual Studio cache/options directory
.vs/


# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/


# User-specific files
*.user
*.suo
*.sln.docstates


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
